target/
build/

.idea/
.vscode/
*.iml
*.log

*.test
*.spec
coverage/
jacoco.exec
test-output/

.git/
.gitignore
Dockerfile*
.dockerignore

*.DS_Store
Thumbs.db

#cache
*.class
*.jar
*.war
*.zip
*.tar.gz
*.swp
