server:
  port: 8000

# actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always  

spring:
  application:
    name: auth-service
  profiles:
    active:
    - vault
    - facebook
  datasource:
    url: jdbc:mysql://auth-db:3306/auth-db
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  devtools:
    restart:
      enabled: true

  kafka:
    bootstrap-servers:
    - kafka1:9092
    - kafka2:9092
    - kafka3:9092

    client-id: auth-service

    producer:
      acks: all
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    '[org.hibernate.sql]': debug
    '[org.hibernate.type.descriptor.sql]': trace
    '[org.springframework.transaction]': debug
    '[org.springframework.orm.jpa]': debug
    root: error

  #enabled virtual threads non blocking
  # threads:
  #   virtual:
  #     enabled: true

